<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="../static/edit.css">
<link href="menu.html" rel="import" />
  
</head>

<div class="wrapper">
    <div class="title">
      <h1>Edit Profile</h1>
    </div>
    <div class="contact-form">
      <div class="input-fields">
        <input type="text" class="input" placeholder="Name">
        <input type="text" class="input" placeholder="old password">
        <input type="text" class="input" placeholder="New password">
      </div>
      
        <div class="btn">Update</div>
      </div>
    </div>
</div>
</html>