<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="../static/edit.css">
<link href="menu.html" rel="import" />
  
</head>

<div class="wrapper">
    <div class="title">
      <h1>Results</h1>
    </div>
    <div class="contact-form">
      <div class="input-fields">
       <h3 class="probFather">probabilityFather: {{probFather}}</h3><hr style="width: 30%">
	   <h3 class="probNotFather">probabilityNotFather: {{probNotFather}}</h3>
	    <h3 class="results">{{result}}</h3>

   
    </div>
      </div>
    </div>
</div>
</html>